{% extends "base.html" %}
{% load static %}

{% block title %}買い時でっせ｜認証{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/app.css' %}?v={{ STATIC_VERSION }}">
<link rel="stylesheet" href="{% static 'css/landing.css' %}?v={{ STATIC_VERSION }}">
<link rel="stylesheet" href="{% static 'css/auth.css' %}?v={{ STATIC_VERSION }}">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
{% endblock %}
{% block header %}
<header class="header-bar">
  <div class="header-inner px-3">
    <a class="header-brand" href="{% url 'main:landing_page' %}">
      <div class="header-icon-wrapper">
        <img src="{% static 'images/icon_kaidoki.svg' %}" alt="買い時でっせ">
      </div>
      <span class="header-title">買い時でっせ</span>
    </a>
    <div class="header-actions"></div>
  </div>
</header>
{% endblock %}

{% block page_content %}{% endblock %}

{% block extra_js %}
<script src="{% static 'js/auth.js' %}" defer></script>
{% endblock %}
